body {
    text-align: center;
    max-width: 500px;
    margin: auto;
    padding: 10px;
    font-family: "OpenSans";
    background-color: #F0F0F0;
}

ul {
	list-style: none;
	display: grid;
	padding: 25px;
	grid: 1fr 1fr/ 1fr 1fr;
	grid-gap: 25px;
	justify-items: center;
}

img {
	max-width: 500px;
	width: 100%;
}

.photo {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 5vh;
}

h1 {
    font-family: "AlexBrush";
    font-size: 3.5em;
    margin: 0;
}

h2, h3 {
    margin: 0;
}

#label {
    height: 80vh;
    padding: 10vh 5vw;
    display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: space-around;
}

#scroll-down {
    width: 50px;
    margin-top: -50px;
    float: right;
    animation-name: bounce;
    animation-duration: 2s;
    animation-iteration-count: 2;
}

#fecha {
	font-family: AlexBrush;
	font-weight: 700;
	font-size: 1.5em;
}

#mail {
    font-size: 0.8em;
    font-weight: 700;
    border-bottom: 1px solid black;
}

@keyframes bounce {
  0% {
    margin-top: -50px;
  }
  50% {
    margin-top: -75px;
  }
  100% {
    top: -50px;
  }
}

